body {
  width: 1440px;
  height: 1026px;
  background: #fafafa;
}
.content {
  padding-top: 90px;
  padding-left: 250px;
  padding-right: 253px;
}
.brand {
  display: grid;
  grid-template: 43px / 32px 76px 1fr;
  align-items: center;
}
.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
}
.element {
  width: 295px;
}
